.title {
  text-align: right;
  color: orange;
  padding-right: 20%;
  font-weight: bold;
}

.comment {
  font-weight: bold;
  font-family: sans-serif;
  padding-bottom: 2%;
  font-size: xx-large;
  padding-left: 10px;
}
input[type='text'] {
  margin-left: 5px;
  padding-bottom: 2%;
}
label {
  font-weight: bold;
  font-size: large;
  padding-left: 10px;
}
input[type='submit'] {
  margin-left: 10px;
  color: black;
  background-color: #777777;
  cursor: pointer;
  font-size: 20px;
}
footer {
  padding-top: 5%;
  font-weight: inherit;
}
